@*引入PagedList.Mvc分頁套件*@
@using PagedList
@using PagedList.Mvc
@model IPagedList<arTWander.Models.AdminViewModel.BlackListViewModel>

@{
    ViewBag.Title = "BlackUser";
    Layout = null;
}


@{
    PagedListRenderOptions pagedListOption = new PagedListRenderOptions
    {
        LinkToFirstPageFormat = "<<",
        LinkToPreviousPageFormat = "<",
        LinkToNextPageFormat = ">",
        LinkToLastPageFormat = ">>",
        DisplayPageCountAndCurrentLocation = true,
        PageCountAndCurrentLocationFormat = "第 {0} 頁/共 {1} 頁"
    };

    AjaxOptions ajaxOption = new AjaxOptions()
    {
        HttpMethod = "POST",
        UpdateTargetId = "showPages",
        OnFailure = "errorServerMsg()"
    };
}
@{
    <link href="~/css/css_commonPage/ShowList.css" rel="stylesheet" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="~/Content/spinkit.min.css" rel="stylesheet" />

    @*PagedList.Mvc分頁切換css & jquery函示庫*@
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}


<link rel="stylesheet" href="./css/UserList.css">
<article>
    <section id="Section">
        <div id="showPages">
            <div class="AllList">
                <!-- 關鍵字查詢 start-->
                <div class="AllListTitle">
                    <div class="input-group-prepend my-2 justify-content-between">
                        <form id="blackUserForm" enctype="multipart/form-data" class="w-100">
                            <div class="row col-10 col-sm-8">

                                <!-- <span class="col-11 col-md-4 my-auto mx-2">一般會員</span> -->
                                @*字串搜尋*@
                                <input type="text" id="txtKeyword" name="txtKeyword" value="@Request.Form["txtKeyword"]" class="col-10 col-md-8 form-control rounded-pill my-1" style="width:180px;height:auto;" placeholder="關鍵字搜尋" aria-label="search" aria-describedby="buttonSearch">
                                <button class="btn col-2 col-md-2 my-2" type="submit" id="buttonSearch" value=""><i class="fa fa-search" aria-hidden="true"></i></button>

                            </div>
                        </form>
                        <div class="my-auto">
                            <a class="btn " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-sort-amount-down" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" id="sort">
                                <a href="#" class="dropdown-item">編號排序</a>
                                <a href="#" class="dropdown-item">註冊日排序</a>
                                <a href="#" class="dropdown-item">ID排序</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 關鍵字查詢 end -->

                <div class="AllListContent w-100">
                    <table id="tableSet" class="table table-hover">
                        <thead class="w-100">
                            <tr>
                                <th scope="col-1 col-md-1" class="tableInd d-none d-md-table-cell">編號</th>
                                <th scope="col-1 col-md-1" class="tableInd">@Html.DisplayNameFor(model => model.FirstOrDefault().UserName)</th>
                                <th scope="col-2 col-md-2">@Html.DisplayNameFor(model => model.FirstOrDefault().Reason)</th>
                                <th scope="col-1 col-md-1">@Html.DisplayNameFor(model => model.FirstOrDefault().Created_At)</th>
                            </tr>
                        </thead>
                        @{

                            foreach (var item in Model)
                            {
                                <tbody>
                                    <!-- 製作連結點擊後彈出資訊窗 -->
                                    <tr class="blackUserInform" name="blackUserInform" @*data-href='@Url.Action("UserInform", "Admin", new { id = item.FK_ApplicationUser })'*@ data-toggle="modal" data-target="#staticBackdrop">
                                        <th scope="row" class="tableInd d-none d-md-table-cell">B000<span class="blackUserId">@Html.DisplayFor(modelItem => item.FK_ApplicationUser) </span></th>
                                        <td scope="col-1 col-md-1" class="tableInd">@Html.DisplayFor(modelItem => item.UserName)</td>
                                        <td scope="col-2 col-md-2">@Html.DisplayFor(modelItem => item.Reason)</td>
                                        <td scope="col-1 col-md-1">@Html.DisplayFor(modelItem => item.Created_At)</td>
                                    </tr>
                                </tbody>
                            }
                        }
                    </table>
                </div>

                <div class="d-flex justify-content-center">
                    @Html.PagedListPager(Model, page => Url.Action("GalleryList", "Common", new { page = page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(pagedListOption, ajaxOption))
                </div>
            </div>
            </div>
    </section>
</article>



<!-- 彈出視窗顯示用戶資訊 -->
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade px-0" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <!-- 控至彈出窗大小 -->
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">黑名單詳細資訊</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <main>
                    @*主內容*@
                    @*ajax導入相關內容*@
                    <section id="Section" class="w-100">
                        <div id="detailInform">
                        </div>
                    </section>
                </main>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>*@
        </div>
    </div>
</div>



<script>
    //搜尋關鍵字
    $('#blackUserForm').submit(function (event) {
        event.preventDefault();
        let formData = $(this).serialize();
        $.ajax({
            type: 'post',
            //dataType: 'script',
            url: '@Url.Action("BlackUser", "Admin")',
            data: formData,
            success: function (data) {
            $('#memberManageMain').html(data);
            }
            ,
            error: (XMLHttpRequest, textStatus, errorThrown) => {
                $("#detailInform").innerHTML = "there is something wrong!";
                alert(XMLHttpRequest.status);
                alert(XMLHttpRequest.readyState);
                alert(textStatus);
            }
        });
    });
</script>
<script>
    //取得對應ID詳細資訊
    $('.blackUserInform').click(function (event) {
        var userID = { userId: $(this).find(".blackUserId").text() };
        var myFormData = new FormData();
        myFormData.append("userID", JSON.stringify(userID));

        $.ajax({
            url: '@Url.Action("BlackUserInform", "Admin")',
            type: 'POST',
            data: myFormData,
            //contentType: "application/json; charset=utf-8",
            enctype: "multipart/form-data",
            cache: false,
            contentType: false,
            processData: false,
            //dataType: "json",
            success: function (data) {
                console.log("Good");
                $('#detailInform').html(data);
            },
            //錯誤訊息
            error: (XMLHttpRequest, textStatus, errorThrown)=>{
              $("#detailInform").innerHTML = "there is something wrong!";
                alert(XMLHttpRequest.status);
                alert(XMLHttpRequest.readyState);
                alert(textStatus);
            }
         });
    });
</script>