
@model IEnumerable<arTWander.Models.AdminViewModel.UserListViewModel>

@{
    ViewBag.Title = "UserList";
    Layout = null;
}
<link rel="stylesheet" href="../css/UserList.css">
<article>
    <section id="Section">
        <div class="AllList">
            <!-- 關鍵字查詢 start-->
            <div class="AllListTitle">
                <div class="input-group-prepend my-2 justify-content-between">
                    <div class="row col-10 col-sm-8">
                        @using (Html.BeginForm())
                        {
                            <!-- <span class="col-11 col-md-4 my-auto mx-2">一般會員</span> -->

                            <input type="text" id="textSearch" class="col-10 col-sm-8 form-control rounded-pill my-1 w-100 " style="width:180px;height:auto;" placeholder="關鍵字搜尋" aria-label="search" aria-describedby="buttonSearch">@Html.TextBox("txtKeyword")
                            <input class="btn col-2 col-md-1 my-2" type="submit" id="buttonSearch"><i class="fa fa-search" aria-hidden="true"></i>
                        }
                    </div>
                    <div class="my-auto">
                        <a class="btn " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-sort-amount-down" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" id="sort">
                            <a href="#" class="dropdown-item">編號排序</a>
                            <a href="#" class="dropdown-item">註冊日排序</a>
                            <a href="#" class="dropdown-item">ID排序</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 關鍵字查詢 end -->
            <div class="AllListContent">
                <table class="table table-hover w-100">
                    <thead>
                        <tr>
                            <th scope="col-1 col-md-1">編號</th>
                            <th scope="col-1 col-md-1">@Html.DisplayNameFor(model => model.UserName)</th>
                            <th scope="col-1 " class="d-none d-lg-table-cell">@Html.DisplayNameFor(model => model.Email)</th>
                            <th scope="col-2 col-md-2">@Html.DisplayNameFor(model => model.RegisterTime)</th>
                            <th scope="col-1 col-md-1">@Html.DisplayNameFor(model => model.LogingCount)</th>
                            <th scope="col-1 col-md-1">@Html.DisplayNameFor(model => model.Statue)</th>
                        </tr>
                    </thead>
                    @{ int count = 0;
                        foreach (var item in Model)
                        {


                            <tbody>
                                <!-- 製作連結點擊後彈出資訊窗 -->
                                <tr id="userInform" href="" data-toggle="modal" data-target="#staticBackdrop">
                                    <th scope="row">@Html.DisplayFor(modelItem => item.FK_ApplicationUser)</th>
                                    <td scope="col-1 col-md-1">@Html.DisplayFor(modelItem => item.UserName)</td>
                                    <td scope="col-1" class="d-none d-sm-table-cell">@Html.DisplayFor(modelItem => item.Email)</td>
                                    <td scope="col-2 col-md-2">@Html.DisplayFor(modelItem => item.RegisterTime)</td>
                                    <td scope="col-1 col-md-1">@Html.DisplayFor(modelItem => item.LogingCount)</td>
                                    <td scope="col-1 col-md-1">@Html.DisplayFor(modelItem => item.Statue)</td>

                                </tr>
                                @*<tr>
                                        <th scope="row">U0002</th>
                                        <td scope="col-1 col-md-1" class="d-none d-sm-table-cell">王小名</td>
                                        <td scope="col-1 col-md-1">ming</td>
                                        <td sscope="col-1 col-md-1" class="d-none d-sm-table-cell">ming3</td>
                                        <td scope="col-1" class="d-none d-lg-table-cell">minge23@hotmail.com</td>
                                        <td scope="col-1 col-md-1">2021-07-19</td>
                                        <td scope="col col-md-1">3</td>
                                        <td scope="col col-md-1">OK</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">U0003</th>
                                        <td scope="col-1 col-md-1" class="d-none d-sm-table-cell">李大白</td>
                                        <td scope="col-1 col-md-1">bai</td>
                                        <td sscope="col-1 col-md-1" class="d-none d-sm-table-cell">dbai2</td>
                                        <td scope="col-1" class="d-none d-lg-table-cell">dbai@hotmail.com</td>
                                        <td scope="col-1 col-md-1">2021-09-19</td>
                                        <td scope="col-1 col-md-1">999</td>
                                        <td scope="col-1 col-md-1">黑名單</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">U0004</th>
                                        <td scope="col-1 col-md-1" class="d-none d-sm-table-cell">葉大雄</td>
                                        <td scope="col-1 col-md-1">bai</td>
                                        <td sscope="col-1 col-md-1" class="d-none d-sm-table-cell">dbai2</td>
                                        <td scope="col-1" class="d-none d-lg-table-cell">dbai@hotmail.com</td>
                                        <td scope="col-1 col-md-1">2021-09-19</td>
                                        <td scope="col-1 col-md-1">999</td>
                                        <td scope="col-1 col-md-1">黑名單</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">U0005</th>
                                        <td scope="col-1 col-md-1" class="d-none d-sm-table-cell">黃小米</td>
                                        <td scope="col-1 col-md-1">bai</td>
                                        <td sscope="col-1 col-md-1" class="d-none d-sm-table-cell">dbai2</td>
                                        <td scope="col-1" class="d-none d-lg-table-cell">dbai@hotmail.com</td>
                                        <td scope="col-1 col-md-1">2021-09-19</td>
                                        <td scope="col-1 col-md-1">99</td>
                                        <td scope="col-1 col-md-1">OK</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">U0006</th>
                                        <td scope="col-1 col-md-1" class="d-none d-sm-table-cell">鯉魚王</td>
                                        <td scope="col-1 col-md-1">bai</td>
                                        <td sscope="col-1 col-md-1" class="d-none d-sm-table-cell">dbai2</td>
                                        <td scope="col-1" class="d-none d-lg-table-cell">dbai@hotmail.com</td>
                                        <td scope="col-1 col-md-1">2021-09-19</td>
                                        <td scope="col-1 col-md-1">999</td>
                                        <td scope="col-1 col-md-1">OK</td>
                                    </tr>*@
                            </tbody>
}
                    }
                </table>


            </div>
            <nav aria-label="Page navigation example" class="mt-2">
                <ul class="pagination justify-content-center text-secondary">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>

    </section>

</article>


<!-- 彈出視窗顯示用戶資訊 -->
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade px-0" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <!-- 控至彈出窗大小 -->
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">用戶詳細資訊</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <main>
                    @*主內容*@
                    @*ajax導入相關內容*@
                    <section id="Section" class="w-100">
                        <div id="detailInform">
                        </div>
                    </section>
                </main>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
  //點擊分頁連結頁面
  //一般使用者list
    $("#userInform").click(function () {
        $.ajax({
            type: 'post',
            url: '@Url.Action("UserInform", "Admin")',
            data: {},
            success: function (data) {
                $('#detailInform').html(data);
            }
        });
    });
</script>
