@model IEnumerable<arTWander.Models.AdminViewModel.UserListViewModel>

@{
    ViewBag.Title = "UserList";
    Layout = null;
}
@*<style scoped>
<link rel="stylesheet" href="/css/UserList.css">
</style>*@
<article>
    <section id="Section">
        <div class="AllList">
            <!-- 關鍵字查詢 start-->
            <div class="AllListTitle">
                <div class="input-group-prepend my-2 justify-content-between">
                    <form id="uploadForm" enctype="multipart/form-data" class="w-100">
                        <div class="row col-10 col-sm-8">

                            <!-- <span class="col-11 col-md-4 my-auto mx-2">一般會員</span> -->
                            @*字串搜尋*@
                            <input type="text" id="txtKeyword" name="txtKeyword" value="@Request.Form["txtKeyword"]" class="col-10 col-md-8 form-control rounded-pill my-1" style="width:180px;height:auto;" placeholder="關鍵字搜尋" aria-label="search" aria-describedby="buttonSearch">
                            <button class="btn col-2 col-md-2 my-2" type="submit" id="buttonSearch" value=""><i class="fa fa-search" aria-hidden="true"></i></button>

                        </div>
                    </form>
                    <div class="my-auto">
                        <a class="btn " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-sort-amount-down" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" id="sort">
                            <a href="#" class="dropdown-item">編號排序</a>
                            <a href="#" class="dropdown-item">註冊日排序</a>
                            <a href="#" class="dropdown-item">ID排序</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 關鍵字查詢 end -->

            <div class="AllListContent w-100">
                <table id="tableSet" class="table table-hover" >
                    <thead class="w-100">
                        <tr>
                            <th scope="col-1 col-md-1">編號</th>
                            <th scope="col-1 col-md-1" class="tableInd">@Html.DisplayNameFor(model => model.UserName)</th>
                            <th scope="col-1 " class="tableInd">@Html.DisplayNameFor(model => model.Email)</th>
                            <th scope="col-2 col-md-2">@Html.DisplayNameFor(model => model.RegisterTime)</th>
                            <th scope="col-1 col-md-1">@Html.DisplayNameFor(model => model.LogingCount)</th>
                            @*<th scope="col-1 col-md-1">@Html.DisplayNameFor(model => model.Statue)</th>*@
                        </tr>
                    </thead>
                    @{ 

                        foreach (var item in Model)
                        {
                            <tbody>
                                <!-- 製作連結點擊後彈出資訊窗 -->
                                <tr class="userInform" name="userInform" @*data-href='@Url.Action("UserInform", "Admin", new { id = item.FK_ApplicationUser })'*@ data-toggle="modal" data-target="#staticBackdrop">
                                    <th scope="row">U000<span class="userId">@Html.DisplayFor(modelItem => item.FK_ApplicationUser) </span></th>
                                    <td scope="col-1 col-md-1" class="tableInd">@Html.DisplayFor(modelItem => item.UserName)</td>
                                    <td scope="col-1" class="tableInd">@Html.DisplayFor(modelItem => item.Email)</td>
                                    <td scope="col-2 col-md-2">@Html.DisplayFor(modelItem => item.RegisterTime)</td>
                                    <td scope="col-1 col-md-1">@Html.DisplayFor(modelItem => item.LogingCount)</td>
                                    @*<td scope="col-1 col-md-1">@Html.DisplayFor(modelItem => item.Statue)</td>*@
                                </tr>
                            </tbody>
                        }
                    }
                </table>


            </div>

            <nav aria-label="Page navigation example" class="mt-2">
                <ul class="pagination justify-content-center text-secondary">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>

    </section>

</article>


<!-- 彈出視窗顯示用戶資訊 -->
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade px-0" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <!-- 控至彈出窗大小 -->
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">用戶詳細資訊</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <main>
                    @*主內容*@
                    @*ajax導入相關內容*@
                    <section id="Section" class="w-100">
                        <div id="detailInform">
                        </div>
                    </section>
                </main>
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>*@
        </div>
    </div>
</div>

<script>
    //搜尋關鍵字
    $('#uploadForm').submit(function (event) {
        event.preventDefault();
        let formData = $(this).serialize();
        $.ajax({
            type: 'post',
            //dataType: 'script',
            url: '@Url.Action("UserList", "Admin")',
            data: formData,
            success: function (data) {
            $('#memberManageMain').html(data);
            }
            ,
            error: (XMLHttpRequest, textStatus, errorThrown) => {
                $("#detailInform").innerHTML = "there is something wrong!";
                alert(XMLHttpRequest.status);
                alert(XMLHttpRequest.readyState);
                alert(textStatus);
            }
        });
    });
</script>
<script>
    //取得對應ID詳細資訊
    $('.userInform').click(function (event) {
        var userID = { userId: $(this).find(".userId").text() };
        var myFormData = new FormData();
        myFormData.append("userID", JSON.stringify(userID));

        $.ajax({
            url: '@Url.Action("UserInform", "Admin")',
            type: 'POST',
            data: myFormData,
            //contentType: "application/json; charset=utf-8",
            enctype: "multipart/form-data",
            cache: false,
            contentType: false,
            processData: false,
            //dataType: "json",
            success: function (data) {
                console.log("Good");
                $('#detailInform').html(data);
            },
            //錯誤訊息
            error: (XMLHttpRequest, textStatus, errorThrown)=>{
              $("#detailInform").innerHTML = "there is something wrong!";
                alert(XMLHttpRequest.status);
                alert(XMLHttpRequest.readyState);
                alert(textStatus);
            }
         });
    });
</script>
