@model arTWander.Models.CompanyViewModel
@{
    Layout = "~/Views/Shared/CommonLayout/_AsideFalse.cshtml";
}

<div class="container">

    <div class="card">
        @if (string.IsNullOrEmpty(Model.PromotionalImage))
        {
            <img src="~/image/exhibiton/Null.png" class="card-img-top" id="PromotionalImage" alt="...">
        }
        else
        {
            <img src="~/SaveFiles/Company/@Model.Id/Info/@Model.PromotionalImage" id="PromotionalImage" class="card-img-top" alt="...">
        }
        <hr />
        <div class="card-body d-flex align-items-end justify-content-between row">
            <div class="col-lg-6 d-flex align-items-end">
                @if (string.IsNullOrEmpty(Model.PhotoSticker))
                {
                    <img src="~/image/avatar/頭像_展演單位.png" height="100" width="100" alt="...">
                }
                else
                {
                    <img src="~/SaveFiles/Company/@Model.Id/Info/@Model.PhotoSticker" height="100" width="100" alt="...">
                }
                <h3 class="text-body ml-3">@Model.CompanyName</h3>
            </div>
            <div class="btn-group col-lg-6" role="group" aria-label="Basic example">
                <a href="~/Manage/ChangePassword" class="btn btn-outline-secondary border-0 bg-dark text-white">變更密碼</a>
                <a href="~/Company/Edit" class="btn btn-outline-secondary border-0 bg-gray text-white">編輯展演單位資料</a>
                <a href="~/ShowPageManage/Index" class="btn btn-outline-secondary border-0 bg-dark text-white">展覽管理</a>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-sm-6">
            <div>
                <h3>帳戶功能</h3>
                <div id="TwoFactor">
                    @Html.Partial("~/Views/Shared/CompanyPartial/_IsTwoFactor.cshtml", Model)
                </div>

                <div id="Browser">
                    @Html.Partial("~/Views/Shared/CompanyPartial/_IsRememberBrowser.cshtml", Model)
                </div>
            </div>
            <div class="mainField">
                <h3>聯繫方式</h3>
                <div class="form-group row">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-sm-4 col-form-label" })
                    <div class="col-sm-8">
                        @if (!string.IsNullOrEmpty(Model.Email))
                        {
                            <a href="mailto:@Model.Email" class="form-control">@Model.Email</a>
                        }
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "col-sm-4 col-form-label" })
                    <div class="col-sm-8">
                        <input type="tel" class="form-control" id="Phone" name="Phone" value="@Model.Phone" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.Fax, htmlAttributes: new { @class = "col-sm-4 col-form-label" })
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="Fax" name="Fax" value="@Model.Fax" readonly>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="mainField">
                <h3> @Html.LabelFor(model => model.HomePage)</h3>
                <div class="form-group row">
                    <div class="col">
                        <a href="@Model.HomePage" class="form-control">@Model.HomePage</a>
                    </div>
                </div>
            </div>
            <div class="mainField">
                <h3>@Html.LabelFor(model => model.Address)</h3>
                <div class="form-group row">

                    <div class="col">
                        <input type="text" class="form-control" id="Address" name="Address" value="@Model.Address" readonly>
                    </div>
                </div>
            </div>
            <div class="mainField">
                <h3>@Html.LabelFor(model => model.BusinessHours)</h3>
                <div class="form-group row">

                    <div class="col">
                        <input type="text" class="form-control" id="BusinessHours" name="BusinessHours" value="@Model.BusinessHours" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="jumbotron">
        <pre class="lead" style="white-space: pre-wrap; word-wrap: break-word;">@Html.Raw(Model.CompanyDescription)</pre>
    </div>
</div>
@section css
{
    <link href="~/css/css_companyPage/Index.css" rel="stylesheet" />
}

@section scripts
{
    <script>
        $("#Browser").on("submit", "#IsRememberBrowser", function (event) {
            event.preventDefault();
            $.ajax({
                method: 'post',
                url: $(this).attr("action"),
                data: '@Model',
                success: function (data) {
                    $("#Browser").html(data);
                }
            });
        });

        $('#TwoFactor').on('submit', '#IsEnableTFA', function (event) {
            event.preventDefault();
            $.ajax({
                method: 'post',
                url: $(this).attr('action'),
                data: '@Model',
                success: function (data) {
                    $('#TwoFactor').html(data);
                }
            })
        });
    </script>
}