@model arTWander.Models.CommonViewModel.CommonShowViewModel

<!-- 展覽starts -->
<div class="col-12 col-lg-4 position-relative mb-lg-5">
    <!-- 展覽圖片 starts -->
    <div class="showImg">
        <a href="#">
            <img class="w-100 rounded-sm img-fluid " src="~/image/exhibiton/@Model.showImg" alt="">
        </a>
    </div>
    <!-- 展覽圖片 ends -->
    <!-- 展覽敘述卡 strats -->
    <div class="shortDetail">
        <div class="d-flex align-items-center">
            <a name="showCity" href="/Common/Index?city=@Model.showCity">@Model.showCity</a>／
            <div class="marqee">
                <a href="">@Model.showTitle</a>
            </div>
        </div>
        <div class="description">
            <a href="#">@Model.showDiscription</a>
        </div>
        <div class="d-flex align-items-center ">
            <a class="mr-2" href="">05 comment</a>
            <a class="addToMyShow" href=""> 
                ⧾我的展覽
                <input type="hidden" name="name" value="@Model.showId" />
            </a>
        </div>
    </div>
    <!-- 展覽敘述卡 ends -->
</div>
<!-- 展覽 ends -->

<script>
     @*$(document).ready(function () {
         // 加入我的展覽功能========================

         // 取得加入展覽按鈕nodelist
         let btnATMS = document.querySelectorAll('.addToMyShow');

         // 迭代nodelist中的按鈕
         for (let item of btnATMS) {

             let events = $._data($(item)[0], 'events'); // 取得每個a被註冊的事件數量

             // 假如未註冊click事件
             if (events == null) {

                 $(item).on('click', function (e) {
                     e.preventDefault(); // 阻止a標籤預設行為
                     alert('被點擊了');
                     addToMyShow();
                 });
             }
             else if (events['click'].length == 1)
             {
                 alert(events['click'].length + '已經註冊過事件');
             }

         }

        function addToMyShow() {
            $.ajax({
                type: 'post',
                url: '@Url.Action("addToMyShow", "Common")',
                data: {showId: @Model.showId}

            });
        }

    });*@
</script>