@using PagedList
@using PagedList.Mvc
@model IPagedList<arTWander.Models.Company>
@{
    PagedListRenderOptions pagedListOption = new PagedListRenderOptions
    {
        LinkToFirstPageFormat = "<<",
        LinkToPreviousPageFormat = "<",
        LinkToNextPageFormat = ">",
        LinkToLastPageFormat = ">>",
        DisplayPageCountAndCurrentLocation = true,
        PageCountAndCurrentLocationFormat = "第 {0} 頁/共 {1} 頁"
    };

    AjaxOptions ajaxOption = new AjaxOptions()
    {
        HttpMethod = "POST",
        UpdateTargetId = "showPages",
        OnFailure = "errorServerMsg()"
    };
}

@if (Model.Count > 0)
{
    <div class="container ">
        <div class="row row-cols-lg-2 row-cols-xl-3 showlistRow">
            @foreach (var show in Model)
            {
                <!-- 展演單位starts -->
                <div class="col position-relative mb-5 d-flex flex-column align-items-center">
                    <!-- 展演單位頭像 starts -->
                    <div class="GalleryImg rounded-circle d-flex position-relative Customderform" data-toggle="modal" data-target="#staticBackdrop">
                        <span class="companyId " name="companyId" hidden>@show.Id</span>
                        <a class="companyBtn" name="companyBtn">
                            <img class="w-100 rounded-circle img-fluid" src='/SaveFiles/Company/@show.Id/Info/@show.PhotoStickerImage'>
                        </a>
                    </div>
                    <a href="#" class="mySubscriptionDeleteIcon"><i class="fa fa-times" aria-hidden="true"><span class="companyId" hidden>@show.Id</span></i></a>
                    <!-- 展演單位頭像 ends -->
                    <!-- 展演單位資訊 starts -->
                    <div class="mt-2">
                        <a class="" href="">@Html.DisplayFor(model => show.City.CityName)</a>／
                        <a class="companyBtn" name="companyBtn">@show.CompanyName</a>
                        <span class="galleryName" name="galleryName" hidden>@show.CompanyName</span>
                    </div>
                    <!-- 展演單位資訊 ends -->
                </div>
                <!-- 展演單位 ends -->
            }
        </div>
    </div>
    <div class="d-flex justify-content-center">
        @Html.PagedListPager(Model, page => Url.Action("MySubscription", "Common", new { page = page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(pagedListOption, ajaxOption))
    </div>
}
else
{
    <div class="container ">
        <div class="row row-cols-lg-2 row-cols-xl-3 showlistRow">
            <div class="col-12 mt-5 d-flex align-items-center flex-column">
                <h4 class="d-flex justify-content-center ">
                    @ViewBag.errorMsg
                </h4>
            </div>
        </div>
    </div>
}










@if (Model.Count > 0)
{

}