@model arTWander.Models.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<!-- 登入頁面 -->
<div class="container">
    <ul class="nav nav-tabs d-flex justify-content-center border-bottom-0 " id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <h4>忘記密碼嗎? 可在此處重設</h4>
        </li>
    </ul>

    <div class="tab-content">
        <form id="loginForm" action="~/Account/ForgotPassword" method="post" class="tab-pane fade show active " role="tabpanel" aria-labelledby="loginForm-tab" novalidate>
            @Html.AntiForgeryToken()
            <div class="row my-3 col-12 col-md-6 mx-auto">
                <div class="col-12 w-100 mx-auto text-center">
                    <label for="Email">請輸入您的註冊信箱</label>
                </div>
                <div class="col-12 w-100 mx-auto text-center mt-2">

                    @Html.TextBoxFor(m => m.Email, new { @class = "border-bottom border-top-0 border-left-0 border-right-0 bg-transparent" })
                    <div>
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger", id = "LoginEmailMsg" })
                    </div>
                </div>
            </div>
            <div class="row mt-3 mb-2 justify-content-center">
                <div class="col-12 col-md-2 d-flex justify-content-center my-2">
                    <button type="submit" class="btn btn-outline-secondary border-0 bg-pink text-white text-white w-100">寄送重設信</button>
                </div>
            </div>
        </form>
    </div>
</div>


@section scripts{
    <!-- Sweet Alert -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="sweetalert2.min.css">
    <script src="sweetalert2.all.min.js"></script>
    <script src="sweetalert2.min.js"></script>
    <script>
        $('#loginForm').submit(function (event) {
            let LoginEmail = $('#Email').val();

            if (!inputRequire(LoginEmail) || !IsEmail(LoginEmail)) {
                $('#Email').trigger('change');
                return false;
            }

            event.preventDefault();
            let formData = $(this).serialize();

            $.ajax({
                type: 'post',
                dataType:'script',
                url: '@Url.Action("ForgotPassword", "Account")',
                data: formData,
                success: function (data) {
                    eval(data);
                }
             });
        });

        $('#Email').change(function () {
            let data = $(this).val();
            let LoginEmailMsg = $('#LoginEmailMsg');

            if (!inputRequire(data)) {
                LoginEmailMsg.html('請輸入Email !!');
            }
            else if (!IsEmail(data)) {
                LoginEmailMsg.html('請輸入有效的Email！!');
            } else {
                LoginEmailMsg.html('');
            }
        });
    </script>
    <script src="~/javascript/AccountIndex.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}