@model arTWander.Models.ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    string userEmail = ViewBag.Email;
}

<div class="container">
    <!-- 驗證nav starts -->
    <ul class="nav nav-tabs d-flex justify-content-center border-bottom-0 " id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <h4>請重新設定您的密碼</h4>
        </li>
    </ul>

    <!-- 驗證nav ends -->
    <div class="tab-content">
        <!-- 驗證欄位 starts -->

        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "registerForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Code)

            <div class="row my-3 col-12 col-md-6 mx-auto">
                <div class="w-100 mx-auto text-center">
                    @Html.LabelFor(m => m.Email)：
                    <input type="email" class="border-bottom border-top-0 border-left-0 border-right-0 bg-transparent" name="Email" id="Email" value="@userEmail" readonly>
                    <div>
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row my-3 col-12 col-md-6 mx-auto">
                <div class="w-100 mx-auto text-center">
                    @Html.LabelFor(m => m.Password)：
                    @Html.PasswordFor(m => m.Password, new { @class = "border-bottom border-top-0 border-left-0 border-right-0 bg-transparent" })
                    <div>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger", id = "RegPwdMsg" })
                    </div>
                </div>
            </div>

            <div class="row my-3 col-12 col-md-6 mx-auto">
                <div class="w-100 mx-auto text-center">
                    @Html.LabelFor(m => m.ConfirmPassword)：
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "border-bottom border-top-0 border-left-0 border-right-0 bg-transparent" })
                    <div>
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger", id = "RegConfirmMsg" })
                    </div>
                </div>
            </div>
            <div class="row mt-5 mb-2 justify-content-center">
                <div class="col-6 col-md-3 mx-auto d-flex justify-content-center">
                    <button id="loginBtn" type="submit"
                            class="btn btn-outline-secondary border-0 bg-pink text-white w-100">
                        重設
                    </button>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="sweetalert2.min.css">
    <script src="sweetalert2.all.min.js"></script>
    <script src="sweetalert2.min.js"></script>
    <script>
        //提交表單時，驗證Email和密碼欄位，如果驗證失敗，則取消提交表單
        $('#registerForm').submit(function (event) {
            let RegPwd = $('#Password').val();
            let RegPwdConfirm = $('#ConfirmPassword').val();

            let RegPwdResult = inputRequire(RegPwd) && pwdformatCheck(RegPwd);
            let RegPwdConfirmResult = inputRequire(RegPwdConfirm) && pwdformatCheck(RegPwdConfirm) && pwdCompare(RegPwdConfirm, RegPwd);

            if (!RegPwdResult || !RegPwdConfirmResult) {
                $('#Password').trigger('change');
                $('#ConfirmPassword').trigger('change');
                return false;
            }

            event.preventDefault();
            let formData = $(this).serialize();

            $.ajax({
                type: 'post',
                dataType:'script',
                url: '@Url.Action("ResetPassword", "Account")',
                data: formData,
                success: function (data) {
                    eval(data);
                }
             });
        });

        //當密碼欄位的值改變時，驗證該欄位是否成功，失敗的話則顯示錯誤訊息
        $('#Password').change(function () {
            let data = $(this).val();
            let RegPwdMsg = $('#RegPwdMsg');

            if (!inputRequire(data)) {
                RegPwdMsg.html('請輸入密碼 !!');
            } else if (!pwdformatCheck(data)) {
                RegPwdMsg.html('密碼必須8個字以上，包含英文大小寫、數字和特殊符號');
            } else {
                RegPwdMsg.html('');
            }
        });

        //當密碼欄位的值改變時，驗證該欄位是否成功，失敗的話則顯示錯誤訊息
        $('#ConfirmPassword').change(function () {
            let data = $(this).val();
            let RegConfirmMsg = $('#RegConfirmMsg');

            if (!inputRequire(data)) {
                RegConfirmMsg.html('請輸入密碼 !!');
            } else if (!pwdCompare(data, $('#Password').val())) {
                RegConfirmMsg.html('與輸入的密碼不相符');
            } else {
                RegConfirmMsg.html('');
            }
        });
    </script>
    <script src="~/javascript/AccountIndex.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}
