@model arTWander.Models.ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    string userEmail = ViewBag.Email;
}

<div class="container">
    <!-- 驗證nav starts -->
    <ul class="nav nav-tabs d-flex justify-content-center border-bottom-0 " id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <h4>請重新設定您的密碼</h4>
        </li>
    </ul>

    <!-- 驗證nav ends -->
    <div class="tab-content">
        <!-- 驗證欄位 starts -->

        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Code)

            <div class="row my-3 col-12 col-md-6 mx-auto">
                <div class="w-100 mx-auto text-center">
                    @Html.LabelFor(m => m.Email)：
                    <input type="email" class="border-bottom border-top-0 border-left-0 border-right-0 bg-transparent" name="Email" id="Email" value="@userEmail" readonly>
                    <div>
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row my-3 col-12 col-md-6 mx-auto">
                <div class="w-100 mx-auto text-center">
                    @Html.LabelFor(m => m.Password)：
                    @Html.PasswordFor(m => m.Password, new { @class = "border-bottom border-top-0 border-left-0 border-right-0 bg-transparent" })
                    <div>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row my-3 col-12 col-md-6 mx-auto">
                <div class="w-100 mx-auto text-center">
                    @Html.LabelFor(m => m.ConfirmPassword)：
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "border-bottom border-top-0 border-left-0 border-right-0 bg-transparent" })
                    <div>
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row mt-5 mb-2 justify-content-center">
                <div class="col-6 col-md-3 mx-auto d-flex justify-content-center">
                    <button id="loginBtn" type="submit"
                            class="btn btn-outline-secondary border-0 bg-pink text-white w-100">
                        重設
                    </button>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
