
<div id="aside1Div" class="d-md-block">
    <!-- d-flex justify-content-center -->
    <!-- 頭像starts -->
    <figure class="d-flex justify-content-center">
        <div id="asideAvatar" class="d-flex justify-content-center overflow-hidden">
            <img src="@ViewBag.avatarUrl" alt="Alternate Text" />
        </div>
    </figure>
    <div class="d-flex justify-content-center w-100 overflow-hidden">
        <p>@ViewBag.userName 您好!</p>
    </div>
    <!-- 頭像end -->
    <!-- 關鍵字查詢 starts -->
    <div class="input-group input-group-sm w-100 my-4">
        <input type="text" class="form-control rounded-pill" placeholder="查詢展覽" aria-label="search" aria-describedby="buttonSearch">
        <div class="input-group-prepend">
            <button class="btn" type="button" id="buttonSearch"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
    </div>
    <!-- 關鍵字查詢 end -->
    <!-- 條件查詢 starts -->
    <ul id="aside1DivUl" class="p-0 p-lg-4">
        <li>
            <a data-toggle="collapse" href="#search" aria-expanded="false" aria-controls="search">
                進階搜尋
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </a>
            <hr>
            <ul id="search" class="collapse list-group list-group-flush ">
                <!-- 地點 starts -->
                <li class="list-group-item bg-transparent">
                    <p class="font-weight-bold">地點</p>
                    <ul class="list-group list-group-flush bg-transparent">
                        <li class="list-group-item bg-transparent">
                            <!-- 縣市start -->
                            <a data-toggle="collapse" href="#city" aria-expanded="false" aria-controls="city">
                                縣市
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </a>
                            <form action="" id="city" class="collapse list-group list-group-flush">
                                <br>
                                <div>
                                    <input type="radio" name="location" value="taipei"> 台北市<br>
                                </div><br>
                                <div>
                                    <input type="radio" name="location" value="taichung"> 台中市<br>
                                </div><br>
                                <div>
                                    <input type="radio" name="location" value="kaohsiung"> 高雄市<br>
                                </div><br>
                            </form>
                        </li>
                        <li class="list-group-item bg-transparent">
                            <a class="" data-toggle="collapse" href="#town" aria-expanded="false" aria-controls="town">
                                鄉鎮
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </a>
                            <form action="" id="town" class="collapse list-group list-group-flush">
                                <br>
                                <div>
                                    <input class="font-size" type="radio" name="location" value="taipei"> 某區<br>
                                </div><br>
                                <div>
                                    <input type="radio" name="location" value="taichung"> 某鄉<br>
                                </div><br>
                                <div>
                                    <input type="radio" name="location" value="kaohsiung"> 某鄉<br>
                                </div><br>
                            </form>
                        </li>
                    </ul>
                </li>
                <!-- 地點 end -->
                <!-- 展覽期間 starts -->
                <li class="list-group-item bg-transparent">
                    <p class="font-weight-bold">展覽期間</p>
                    <ul class="list-group list-group-flush bg-transparent ">
                        <li class="list-group-item bg-transparent p-1 p-lg-0">
                            <div class="form-group">
                                <label for="startDate">開始時間</label>
                                <input type="date" class="form-control" id="startDate">
                            </div>
                        </li>
                        <li class="list-group-item bg-transparent p-1 p-lg-0">
                            <div class="form-group">
                                <label for="endDate">結束時間</label>
                                <input type="date" class="form-control" id="endDate">
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- 展覽期間 end -->
                <!-- 費用 starts -->
                <li class="list-group-item bg-transparent">
                    <div class="form-group">
                        <label class="font-weight-bold" for="cost">費用</label>
                        <br>
                        <select class="form-control" id="cost">
                            <option value="true">是</option>
                            <option value="false">否</option>
                        </select>
                    </div>
                </li>
                <!-- 費用 end -->
                <!-- 按鈕 starts -->
                <button type="button" class="btn my-2 bg-gray">清除篩選</button>
                <button type="button" class="btn my-2 bg-gray">搜尋展覽</button>
                <!-- 按鈕 end -->
            </ul>
        </li>
        <br>
        <li>
            <p>展覽</p>
            <hr>
            <ul class="list-group list-group-flush ">
                <li class="list-group-item bg-transparent">
                    <a class="MyshowBtn" href="#MyshowPage">我的展覽</a>
                </li>
                <li class="list-group-item bg-transparent">
                    <a class="MyItineraryBtn" href="#MyItineraryPage">我的行程 </a>
                </li>
            </ul>
            <br>
        </li>
        <li>
            <p>最新消息</p>
            <hr>
            <ul class="list-group list-group-flush ">
                <li class="list-group-item bg-transparent">
                    <a class="MySubscriptionBtn" href="#MySubscriptionPage">訂閱單位</a>
                </li>
            </ul>
            <br>
        </li>
    </ul>

    <!-- 條件查詢 end -->
</div>


<script>

    $(".MyshowBtn").click(function () {
        $.ajax({
            type: 'post',
            url: '@Url.Action("MyshowPage", "Common")',
            data: FormData,
            success: function (data) {
                $('#mainPage').html(data);
            }
        });
    });


    $(".MyItineraryBtn").click(function () {
        $.ajax({
            type: 'post',
            url: '@Url.Action("MyItineraryPage", "Common")',
            data: FormData,
            success: function (data) {
                $('#mainPage').html(data);
            }
        });
    });

    $(".MySubscriptionBtn").click(function () {
        $.ajax({
            type: 'post',
            url: '@Url.Action("MySubscription", "Common")',
            data: FormData,
            success: function (data) {
                $('#mainPage').html(data);
            }
        });
    });

</script>