@model arTWander.Models.ChangePasswordViewModel
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="container">
    <!-- 密碼重設 starts -->
    <ul class="nav nav-tabs d-flex justify-content-center border-bottom-0 " id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <h4>變更您的密碼</h4>
        </li>
    </ul>
    <form id="ChangePwdForm" action="~/Manage/ChangePassword" class="tab-pane mt-5" role="tabpanel" aria-labelledby="regist-tab">
        @Html.AntiForgeryToken()
        <div class="row my-3 col-12 col-md-6 mx-auto">
            <div class="col-5 mr-0 text-right">
                <label for="OldPassword">目前密碼：</label>
            </div>
            <div class="col-7 px-0">
                <input id="OldPassword" name="OldPassword" type="password" class="border-bottom border-top-0 border-left-0 border-right-0 bg-transparent">
                <div>
                    @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger", id = "OldPasswordMsg" })
                </div>
            </div>
        </div>
        <div class="row my-3 col-12 col-md-6 mx-auto">
            <div class="col-5 mr-0 text-right">
                <label for="NewPassword">新密碼：</label>
            </div>
            <div class="col-7 px-0">
                <input id="NewPassword" name="NewPassword" type="password" class="border-bottom border-top-0 border-left-0 border-right-0 bg-transparent">
                <div>
                    @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger", id = "NewPasswordMsg" })
                </div>
            </div>
        </div>
        <div class="row my-3 col-12 col-md-6 mx-auto">
            <div class="col-5 mr-0 text-right">
                <label for="ConfirmPassword">確認密碼：</label>
            </div>
            <div class="col-7 px-0">
                <input id="ConfirmPassword" name="ConfirmPassword" type="password" class="border-bottom border-top-0 border-left-0 border-right-0 bg-transparent">
                <div>
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger", id = "ConfirmPasswordMsg" })
                </div>
            </div>
        </div>

        <div class="row mt-5 mb-2 justify-content-center">
            <div class="col-6 col-md-2 mx-auto d-flex justify-content-center">
                @*<button id="passwordModifyBtn" type="button" class="btn btn-outline-secondary border-0 bg-pink text-white w-100" data-toggle="modal" data-target="#passwordModify">確定變更</button>*@

                <button type="submit" class="btn btn-outline-secondary border-0 bg-pink text-white text-white w-100">確定變更</button>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $('#ChangePwdForm').submit(function (event) {
            let OldPassword = $('#OldPassword').val();
            let NewPassword = $('#NewPassword').val();
            let ConfirmPassword = $('#ConfirmPassword').val();

            let OldPasswordResult = inputRequire(OldPassword);
            let NewPasswordResult = inputRequire(NewPassword) && pwdformatCheck(NewPassword);
            let ConfirmPasswordConfirmResult = inputRequire(ConfirmPassword) && pwdformatCheck(ConfirmPassword) && pwdCompare(ConfirmPassword, NewPassword);

            if (!OldPasswordResult || !NewPasswordResult || !ConfirmPasswordConfirmResult) {
                $('#OldPassword').trigger('change');
                $('#NewPassword').trigger('change');
                $('#ConfirmPassword').trigger('change');
                return false;
            }

            event.preventDefault();
            let formData = $(this).serialize();

            $.ajax({
                type: 'post',
                dataType:'script',
                url: '@Url.Action("ChangePassword", "Manage")',
                data: formData,
                success: function (data) {
                    eval(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    Swal.fire({
                        icon: 'error',
                        title: textStatus,
                        text: errorThrown,
                        showConfirmButton: false,
                        showCancelButton: true
                    });
                }
             });
        });

        //當目前密碼欄位的值改變時，驗證該欄位是否成功，失敗的話則顯示錯誤訊息
        $('#OldPassword').change(function () {
            let data = $(this).val();
            let RegPwdMsg = $('#OldPasswordMsg');

            if (!inputRequire(data)) {
                RegPwdMsg.html('請輸入密碼 !!');
            }else {
                RegPwdMsg.html('');
            }
        });

        //當新密碼欄位的值改變時，驗證該欄位是否成功，失敗的話則顯示錯誤訊息
        $('#NewPassword').change(function () {
            let data = $(this).val();
            let RegPwdMsg = $('#NewPasswordMsg');

            if (!inputRequire(data)) {
                RegPwdMsg.html('請輸入密碼 !!');
            } else if (!pwdformatCheck(data)) {
                RegPwdMsg.html('密碼必須8個字以上，包含英文大小寫、數字和特殊符號');
            } else {
                RegPwdMsg.html('');
            }
        });

        //當確認密碼欄位的值改變時，驗證該欄位是否成功，失敗的話則顯示錯誤訊息
        $('#ConfirmPassword').change(function () {
            let data = $(this).val();
            let RegConfirmMsg = $('#ConfirmPasswordMsg');

            if (!inputRequire(data)) {
                RegConfirmMsg.html('請輸入密碼 !!');
            } else if (!pwdCompare(data, $('#NewPassword').val())) {
                RegConfirmMsg.html('與輸入的新密碼不相符');
            } else {
                RegConfirmMsg.html('');
            }
        });
    </script>
    <script src="~/javascript/AccountIndex.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}