@*引入PagedList.Mvc分頁套件*@
@using PagedList
@using PagedList.Mvc
@model IPagedList<arTWander.Models.CommonViewModel.CommonShowViewModel>
@{
    Layout = "~/Views/Shared/CommonLayout/_AsideTrue.cshtml";
}
<div class="container">
    <article class="d-flex justify-content-between">

        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="#topHeader" id="resetSearchMode" class="btn btn-secondary">
                <i class="fas fa-trash" style="vertical-align: middle; color: white;"></i> 清除篩選
            </a>
        </div>
        <div class="form-group" style="margin:0px;">
            @*<label for="OrderSortField">請選擇排序方式</label>*@
            <select class="form-control" id="OrderSortField" name="OrderSortField">
                <option value="1">最新展演</option>
                <option value="2">熱門展演</option>
            </select>
        </div>
    </article>
    <br />
    <div id="showPages">
        @{Html.RenderPartial("~/Views/Shared/CommonPartial/Card/_PartialShowList.cshtml", Model); }
    </div>
</div>

@section css{
    <link href="~/css/css_commonPage/ShowList.css" rel="stylesheet" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="~/Content/spinkit.min.css" rel="stylesheet" />

    @*PagedList.Mvc分頁切換css & jquery函示庫*@
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}

@section scripts{
    <script>

        $(function () {
            let oneload = true;
            //取得縣市
            $.ajax({
                method: 'get',
                dataType: 'json',
                url: '@Url.Action("GetCities", "Method")',
                success: function (data) {
                    $('#FK_City').append(`<option value="0" selected>全部縣市</option>`);
                    for (var index in data) {
                        $('#FK_City').append(`<option value="${data[index].Id}">${data[index].CityName}</option>`);
                    }

                    $('#FK_City').trigger('change');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    Swal.fire({
                        icon: 'error',
                        title: textStatus,
                        text: errorThrown,
                        showConfirmButton: false,
                        showCancelButton: true
                    });
                }
            });

            //取得該縣市的鄉鎮市區
            $('#FK_City').change(function (event) {
                var cityId = $(this).val();

                if (cityId > 0) {
                    $.ajax({
                        method: 'get',
                        dataType: 'json',
                        url: '@Url.Action("GetDistricts", "Method")',
                        data: { cityId: cityId },
                        success: function (data) {
                            $('#FK_District').html('');
                            $('#FK_District').append(`<option value="0" selected>選擇全部...</option>`);
                            for (var index in data) {
                                $('#FK_District').append(`<option value="${data[index].Id}">${data[index].DistrictName}</option>`);
                            }
                            if (!oneload)
                                $('#searchMode').submit();
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            Swal.fire({
                                icon: 'error',
                                title: textStatus,
                                text: errorThrown,
                                showConfirmButton: false,
                                showCancelButton: true
                            });
                        }
                    });
                } else {
                    $('#FK_District').html('');
                    $('#FK_District').append(`<option value="0" selected>選擇全部...</option>`);
                    if (!oneload)
                        $('#searchMode').submit();
                }

                oneload = false;
            });

            $('#FK_District').change(function () {
                if (!oneload)
                    $('#searchMode').submit();
            });

            addToMyShowAddEvent();

            $('#StartDate').change(function () {
                if (!oneload)
                    $('#searchMode').submit();
            });

            $('#EndDate').change(function () {
                if (!oneload)
                    $('#searchMode').submit();
            });

            $('#Cost').change(function () {
                if (!oneload)
                    $('#searchMode').submit();
            });

            $('#OrderSortField').change(function () {
                if (!oneload)
                    $('#searchMode').submit();
            });

            $('#resetSearchMode').click(function () {
                oneload = true;
                $('#FK_City').val(0);
                $('#StartDate').val('');
                $('#EndDate').val('');
                $('#Cost').val(0);
                $('#OrderSortField').val(1);
                $('#searchMode').submit();
            });

            $('#searchMode').submit(function (event) {
                event.preventDefault();
                //let formData = $(this).serialize();
                let FK_City = $('#FK_City').val();
                let FK_District = $('#FK_District').val();
                let StartDate = $('#StartDate').val();
                let EndDate = $('#EndDate').val();
                let Cost = $('#Cost').val();
                let OrderSortField = $('#OrderSortField').val();
                let page = 1;

                loadingShowPages();

                $.ajax({
                    type: 'post',
                    url: '@Url.Action("getShowList", "Common")',
                    data: { FK_City:FK_City, FK_District:FK_District, StartDate:StartDate, EndDate:EndDate, Cost:Cost, OrderSortField:OrderSortField, page:page},
                    success: function (data) {
                        $('#showPages').html(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        Swal.fire({
                            icon: 'error',
                            title: textStatus,
                            text: errorThrown,
                            showConfirmButton: false,
                            showCancelButton: true
                        });
                        errorServerMsg();
                    }
                });

                oneload = false;
            });
        });

        function loadingShowPages() {
            $('#showPages').html('<div class="sk-wave" style="margin:100px auto;"><div class="sk-wave-rect"></div><div class="sk-wave-rect"></div><div class="sk-wave-rect"></div><div class="sk-wave-rect"></div><div class="sk-wave-rect"></div></div>');
        }

        function errorServerMsg() {
            $('#showPages').html('<br /><br /><h1>伺服器發生錯誤，無法取得資料</h1>');
        }

        function addToMyShowAddEvent() {
            let theShowId;
            let btnATMS = document.querySelectorAll('.addToMyShow');

            for (let item of btnATMS) {
                item.addEventListener('click', function (e) {
                    // 阻止a標籤預設行為
                    e.preventDefault();
                    // 取得所選展覽id
                    theShowId = e.target.childNodes[1].value;
                    addToMyShow(theShowId);
                });
            };

            function addToMyShow(myshowId) {
                let addToMyShowData = { showId: myshowId };
                $.ajax({
                    type: 'post',
                    contentType: 'application/json;charset=utf-8',
                    url: '/Common/addToMyShow',
                    data: JSON.stringify(addToMyShowData),
                    success: function (data) {
                        Swal.fire({
                            icon: 'success',
                            text: '已添加到我的展覽'
                        })
                        /*alert(data);*/
                    },
                    error: function (data) {
                        alert(XMLHttpRequest.status);
                        alert(XMLHttpRequest.readyState);
                        /*alert(textStatus);*/
                    }

                });
            };
        }
    </script>
}

@*點擊分頁連結*@

@*$("#showList").click(function () {
        $.ajax({
            type: 'post',
            url: '@Url.Action("showList", "Common")',
            data: {},
            success: function (data) {
                $('#showPages').html(data);
            }
        });
    });*@

@*$("#GalleryList").click(function () {
        $.ajax({
            type: 'post',
            url: '@Url.Action("GalleryList", "Common")',
            data: {},
            success: function (data) {
                $('#showPages').html(data);
            }
        });
    });*@
