@model arTWander.Models.CommonViewModel.CommonMyShowViewNodel
@using PagedList
@using PagedList.Mvc
   

@{
    Layout = "~/Views/Shared/CommonLayout/_AsideTrueNoSearch.cshtml";
    var allCity = Model.allCity;
    var allShow = Model.allShow;
}

@section css{
    @*PagedList.Mvc分頁切換css & jquery函示庫*@
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}
@{
    //bool sendAgain = TempData["sended"] == null ? false : (bool)TempData["sendAgain"];

    //SearchShowPagesViewModel searchModel = (SearchShowPagesViewModel)TempData["SearchModel"] ?? new SearchShowPagesViewModel();

    PagedListRenderOptions pagedListOption = new PagedListRenderOptions
    {
        LinkToFirstPageFormat = "<< 第一頁",
        LinkToPreviousPageFormat = "< 前一頁",
        LinkToNextPageFormat = "後一頁 >",
        LinkToLastPageFormat = "最後一頁 >>",
        DisplayPageCountAndCurrentLocation = true,
        PageCountAndCurrentLocationFormat = "第 {0} 頁/共 {1} 頁"
    };

    AjaxOptions ajaxOption = new AjaxOptions()
    {
        HttpMethod = "POST",
        UpdateTargetId = "showPages",
        OnFailure = "errorServerMsg()"
    };
}

<!-- 區域選擇 -->
<div class="container mb-3">
    <div class="dropdown d-flex my-auto col-10 col-md-8 col-lg-6 pl-0 ">
        <div class="row w-100 mx-0 justify-content-start">
            <label class="col-6 col-md-4 px-0 my-auto">請選擇地區</label>
            <div class="col-6 col-md-6 px-0">
                <select class="form-control ml-1" id="citySelector">
                    <option value="" selected disabled hidden>請選擇地區</option>
                    @foreach (var city in allCity)
                    {
                        <option value="@city.Id">@city.CityName</option>
                    }

                </select>
            </div>
        </div>
    </div>
</div>

<!-- 展覽列表 starts -->
<div class="container ">
    <div class="row showlistRow">

        @if (allShow.Count > 0 && allShow[0] != null)
        {
            foreach (var show in allShow)
            {
                @Html.Partial("~/Views/Shared/CommonPartial/Card/_PartialMyShowList.cshtml", show);
            }
        }
        else
        {
            <div class="col-12 mt-5 d-flex align-items-center flex-column">
                <h5 class="d-flex justify-content-center ">
                    @ViewBag.errorMsg
                </h5>
                <p>@ViewBag.guidMsg</p>
            </div>
        }
    </div>
</div>
<!-- 展覽列表 ends -->
<!-- 分頁 starts -->
<div class="d-flex justify-content-center">
    @Html.PagedListPager(allShow, page => Url.Action("MyshowPage", "Common", new { page = page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(pagedListOption, ajaxOption))
</div>
@*<div class="container my-5">
        <div class="row justify-content-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link text-dark" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link text-dark" href="#">1</a></li>
                    <li class="page-item"><a class="page-link text-dark" href="#">2</a></li>
                    <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link text-dark" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>*@
<!-- 分頁 ends -->
@*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>*@

@Scripts.Render("~/javascript/common_MyShowPage.js")